absl-py==2.1.0
aenum==3.1.15
certifi==2024.7.4
charset-normalizer==3.3.2
glog==0.3.1
grpcio==1.63.0
grpcio-health-checking==1.63.0
grpcio-reflection==1.63.0
grpcio-tools==1.63.0
idna==3.7
protobuf==5.26.1
python-gflags==3.1.2
requests==2.32.2
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
six==1.16.0
urllib3==2.2.2
