name: build

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
        java: [ 8, 11 ]
    runs-on: ${{ matrix.os }}
    name: 'Build on ${{ matrix.os }} using Java ${{ matrix.java }}'
    steps:
      - name: 'Check out repository'
        uses: actions/checkout@v2
      - name: 'Set up JDK ${{ matrix.java }}'
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: 'Cache Gradle resources'
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: 'Javadocs'
        run: ./gradlew javadoc
      - name: 'Gradle build'
        run: ./gradlew build
      - name: 'Shadow JAR'
        run: ./gradlew shadowJar
